body {
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(252, 252, 252, 1) 73%, rgba(252, 252, 252, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(73%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(252, 252, 252, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(252, 252, 252, 1) 73%, rgba(252, 252, 252, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(252, 252, 252, 1) 73%, rgba(252, 252, 252, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(252, 252, 252, 1) 73%, rgba(252, 252, 252, 1) 100%);
  background: linear-gradient(135deg, rgba(73, 155, 234, 1) 0%, rgba(252, 252, 252, 1) 73%, rgba(252, 252, 252, 1) 100%);
}
div{
  text-align: center;
}
